body {
    background-color: #1d1f20;
    color: #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
}

.title {
    text-align: center;
    font-size: 48px;
    margin: 80px 0 60px;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.text-center {
    margin: 30px 0;
    text-align: center;
}

.button {
    border: 1px solid #3e3e3e;
    color: #fff;
    background-color: transparent;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    font-family: inherit;
    text-transform: lowercase;
    transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.button:hover {
    border-color: currentColor;
}

.checkbox-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.checkbox {
    width: 200px;
}

.checkbox__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox__input:checked~.checkbox__label {
    border-color: currentColor;
}

.checkbox__input:checked~.checkbox__label::after {
    transform: scale(1);
}

.checkbox__input:checked~.checkbox__label:hover::before {
    transform: scale(1);
}

.checkbox__label {
    cursor: pointer;
    display: block;
    padding: 20px 20px 20px 60px;
    border: 1px solid #3e3e3e;
    position: relative;
    color: #fff;
    transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.checkbox__label::before,
.checkbox__label::after {
    content: "";
    position: absolute;
    top: 50%;
    border-radius: 100%;
    transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.checkbox__label::before {
    left: 20px;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    border: 1px solid #3e3e3e;
}

.checkbox__label::after {
    left: 26px;
    margin-top: -4px;
    width: 10px;
    height: 10px;
    background-color: currentColor;
    transform: scale(0);
}

.checkbox__label:hover::before {
    transform: scale(1.2);
}